.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #d47e0e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(12, 7, 7);
}

.App-link {
  color: #8d0f06;
}
.headerstyle {
  background:  rgb(255, 255, 255);
  color:#060674;
  justify-content: center;
  padding: 10px 10px;
  border-top: 0px;
  border-bottom: 0px #060674;
  border-right: 0px;
  border-left :0px;
  font-family: sans-serif !important;
;
  float: up;
  border-style: solid;
  cursor: pointer
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
