.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(97, 177, 214);
}

.App-link {
  color: #eaf2f3;
}

.headerstyle {
  background: white;
  color: #060674;
  justify-content: center;
  padding: 10px 10px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;

  font-family: sans-serif;
  float: up;
  border-style: solid;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
