.main {
  width: 100%;
  min-height: 815px;
  /* text-align: center; */
  display: block;
}

.form {
  min-width: 150px;
  width: 300px;
  margin: 50px 50px !important;
  display: -webkit-inline-box !important;
}

.table {
  width: 100%;
  height: auto;
  border: 1px solid rgb(44, 143, 189);
}

.MuiFormControl-root.form {
  min-width: 150px;
  width: 100%;
  margin: 50px 50px !important;
  display: -webkit-inline-box !important;
}

td.MuiTableCell-root.MuiTableCell-body {
  color: rgba(13, 16, 160, 0.87);
  font-weight: 550;
  font-size: 18px;
}

.select-wrap {
  margin-right: 10px;
  text-align: left;

}

.select-wrap label {
  position: relative !important;
}

.select {
  min-width: 270px;
  width: 200px;
}

.linkStyle {
  color: rgb(28, 31, 224);
  text-decoration: underline;
  float: right;
  margin: 100px 30px;
  font-size: 18px;
  background-color: rgb(229, 235, 241);
  float: right;
}
a {
  color: #1471ac !important;
  text-decoration: underline !important;
  font-family: sans-serif !important;
  float: right !important;
  margin: 20px 0px !important;
  font-size: 16px !important;
  background-color: rgb(214, 60, 60);
  float: right !important;
  font-variant: normal !important;
}
@media only screen and (max-width: 1024px) {
  .MuiFormControl-root.form {
    min-width: unset;
    width: 100% !important;
    margin: unset;
    display: -webkit-inline-box !important;
    align-content: center;
  }
}

@media only screen and (max-width: 990px) {
  .MuiFormControl-root.form {
    min-width: unset;
    width: 100% !important;
    margin: unset;
    display: unset !important;
    align-content: center;
  }
}

a:hover {
  color: #060674 !important;
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline.select.MuiInputBase-formControl.MuiInput-formControl {
  color: rgba(16, 15, 15, 0.87);
  padding-block-end: unset;

  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: sans-serif;
  line-height: 1.1875em;
}
span.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  text-transform: none;
  font-family: sans-serif !important;
}
label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
    transition: color 200ms ease-in-out 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    font-size: larger;
    font-family: sans-serif;
    color: #060674;
}